.addExpense-container {
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.add-expense-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.add-expense-form input {
  margin: 1em;
  padding: 1em;
  font-size: 1em;
  border-radius: 5px;
  width: 40%;
  box-shadow: none;
  border: 1px solid grey;
}

.calendar-container {
  display: block;
  width: 100%;
}

.react-datepicker-wrapper {
  width: 100%;
}

.add-expense-btn {
  display: block;
  width: 9%;
  height: 3.5em;
  border-radius: 4px;
  text-align: center;
  font-size: 1.2em;
  margin-top: 1em;
  background-color: #18baf5;
  border: none;
}

.add-expense-btn:hover {
  background-color: #16a8dd;
  color: white;
}

/* ------------------------------ MEDIA QUERIES ------------------------------- */
@media only screen and (max-width: 300px) {
  .add-expense-btn {
    display: block;
    width: 50px;
    height: 3.5em;
    border-radius: 4px;
    text-align: center;
    font-size: 0.6em;
    margin-top: 1em;
    background-color: #18baf5;
    border: none;
  }
}

@media only screen and (min-width: 300px) and (max-width: 450px) {
}

@media only screen and (min-width: 450px) and (max-width: 650px) {
}

@media only screen and (min-width: 650px) and (max-width: 800px) {
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
}

@media only screen and (min-width: 1300px) and (max-width: 1500px) {
}

@media only screen and (min-width: 1500px) {
}
