.menu {
  width: 300px;
  height: 400px;
  background-color: #fafafa;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.1%;
  margin-right: 0.1%;
  /* border: 1px solid grey; */
  border-radius: 10px;
  z-index: 5;
}

.menu-list {
  width: 80%;
  padding: 0;
}
.menu-list:hover {
  cursor: pointer;
}

.menu-list-item {
  list-style-type: none;
  margin-left: 10%;
  margin-top: 1.3em;
  padding: 1em;
}

.menu-list-item:hover {
  background-color: grey;
}

/* ------------------------------ MEDIA QUERIES ------------------------------- */
@media only screen and (max-width: 300px) {
  .menu {
    width: 40%;
    height: 280px;
    margin-top: 7%;
    margin-right: 0.5%;
    z-index: 5;
  }

  .menu-list {
    width: 80%;
    padding: 0;
  }
}

@media only screen and (min-width: 300px) and (max-width: 450px) {
  .menu {
    width: 40%;
    height: 320px;
    margin-top: 1%;
    margin-right: 0.5%;
    z-index: 5;
  }

  .menu-list {
    width: 80%;
    padding: 0;
  }
}

@media only screen and (min-width: 450px) and (max-width: 650px) {
  .menu {
    width: 35%;
    height: 320px;
    margin-top: 0%;
    margin-right: 0%;
    z-index: 5;
  }

  .menu-list {
    width: 80%;
    padding: 0;
  }
}

@media only screen and (min-width: 650px) and (max-width: 800px) {
  .menu {
    width: 30%;
    height: 360px;
    margin-top: 0.2%;
    margin-right: 0%;
    z-index: 5;
  }

  .menu-list {
    width: 80%;
    padding: 0;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .menu {
    width: 30%;
    height: 360px;
    margin-top: 0%;
    margin-right: 0%;
    z-index: 5;
  }

  .menu-list {
    width: 80%;
    padding: 0;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .menu {
    width: 25%;
    height: 360px;
    margin-top: 0%;
    margin-right: 0%;
    z-index: 5;
  }

  .menu-list {
    width: 80%;
    padding: 0;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1500px) {
  .menu {
    width: 20%;
    height: 420px;
    margin-top: 0%;
    margin-right: 0%;
    z-index: 5;
  }

  .menu-list {
    width: 80%;
    padding: 0;
  }
}

@media only screen and (min-width: 1500px) {
  .menu {
    width: 20%;
    height: 460px;
    background-color: #fafafa;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    margin-right: 0.1%;
    /* z-index: 5; */
  }
}
