.expenses-container {
  position: absolute;
  margin-top: 3.5%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: -2;
}

.expenses-title {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.toggle-add-expense-btn {
  display: inline-block;
  width: 9%;
  height: 3.2em;
  border-radius: 4px;
  font-size: 1.2em;
  border: none;
}

.toggle-add-expense-btn:hover {
  cursor: pointer;
  color: white;
}

.toggle-on {
  background-color: orange;
  color: black;
}

.toggle-off {
  background-color: rgb(0, 217, 255);
}

.edit-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.expense-edit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-edit-btn {
  color: white;
  display: inline-block;
  width: 9%;
  height: 3.2em;
  border-radius: 4px;
  font-size: 1em;
  margin: 1em;
}

.save-edit-btn:hover {
  color: black;
  cursor: pointer;
}

.toggle-edit-btn {
  color: white;
  display: inline-block;
  width: 9%;
  height: 3.2em;
  border-radius: 4px;
  font-size: 1em;
  margin: 1em;
}

.toggle-edit-btn:hover {
  color: black;
  cursor: pointer;
}

.selector-container {
  margin: 1em;
  display: flex;
  flex-direction: row;
}

.graph-table-container {
  width: 100vw;
}

.graph-container {
  width: 100%;
}

.analytics-container {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
}

.category-breakdown {
  padding-bottom: 2em;
}

button:hover {
  color: white;
  cursor: pointer;
}

.csv-button {
  background-color: #22cef5;
  color: black;
  text-decoration: none;
  width: 150px;
  border-radius: 5px;
  letter-spacing: 1px;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.csv-button:hover {
  color: white;
  background-color: #1db0d1;
}

.import-toggle-btn {
  width: 150px;
  height: 65px;
  font-size: 16px;
  background-color: #059c00;
  letter-spacing: 1px;
  color: black;
}

.import-toggle-btn:hover {
  color: white;
  background-color: #048100;
}

.go-back-btn {
  width: 150px;
  height: 65px;
  font-size: 16px;
  background-color: orange;
  letter-spacing: 1px;
  color: black;
}

.go-back-btn:hover {
  color: white;
  background-color: rgb(228, 148, 1);
}

/* ------------------------------ MEDIA QUERIES ------------------------------- */
@media only screen and (max-width: 300px) {
  .expenses-container {
    margin-top: 2.6em;
    margin-bottom: 1em;
    padding-bottom: 2em;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .analytics-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 100%;
    font-size: 1em;
    padding-bottom: 2em;
  }

  .graph-table-container {
    width: 100vw;
  }

  .graph-container {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 2em;
  }
  .edit-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 2.5%;
  }

  .graph-table-container {
    width: 100vw;
  }

  .toggle-add-expense-btn {
    width: 55px;
    height: 3.5em;
    font-size: 8px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .expenses-title {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  .category-breakdown {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 10%;
  }

  .csv-button {
    width: 100px;
    border-radius: 5px;
    letter-spacing: 1px;
    height: 40px;
    font-size: 0.8em;
    margin-top: 2em;
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 300px) and (max-width: 450px) {
  .expenses-container {
    margin-top: 8.5%;
    margin-bottom: 1em;
    padding-bottom: 2em;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .analytics-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 100%;
    font-size: 1em;
    padding-bottom: 2em;
  }

  .graph-table-container {
    width: 100vw;
  }

  .graph-container {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 2em;
  }
  .edit-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5%;
  }

  .graph-table-container {
    width: 100vw;
  }

  .toggle-add-expense-btn {
    width: 95px;
    height: 4em;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .expenses-title {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .category-breakdown {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 15%;
  }

  .csv-button {
    width: 120px;
    border-radius: 5px;
    letter-spacing: 1px;
    height: 50px;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 450px) and (max-width: 650px) {
  .expenses-container {
    margin-top: 8.5%;
    margin-bottom: 1em;
    padding-bottom: 2em;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .analytics-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 100%;
    font-size: 1em;
    padding-bottom: 2em;
  }

  .graph-table-container {
    width: 100vw;
  }

  .graph-container {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 2em;
  }
  .edit-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5%;
  }

  .graph-table-container {
    width: 100vw;
  }

  .toggle-add-expense-btn {
    width: 95px;
    height: 4em;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .expenses-title {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .category-breakdown {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
  }
  .csv-button {
    width: 130px;
    border-radius: 5px;
    letter-spacing: 1px;
    height: 55px;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 650px) and (max-width: 800px) {
  .expenses-container {
    margin-top: 8.5%;
    margin-bottom: 1em;
    padding-bottom: 2em;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .analytics-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 100%;
    font-size: 1em;
    padding-bottom: 2em;
  }

  .graph-table-container {
    width: 100vw;
  }

  .graph-container {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 2em;
  }
  .edit-container {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .graph-table-container {
    width: 100vw;
  }

  .toggle-add-expense-btn {
    width: 110px;
    height: 4em;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .expenses-title {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .category-breakdown {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 30%;
  }
  .csv-button {
    width: 130px;
    border-radius: 5px;
    letter-spacing: 1px;
    height: 55px;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .expenses-container {
    margin-top: 6.8%;
    margin-bottom: 1em;
    padding-bottom: 2em;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .analytics-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 100%;
    font-size: 1em;
    padding-bottom: 2em;
  }

  .category-breakdown {
    width: 25%;
    padding-bottom: 2em;
    padding-right: 15%;
    margin-right: 1em;
    margin-left: 2%;
  }

  .graph-table-container {
    width: 100vw;
    padding-bottom: 6em;
  }

  .edit-container {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .graph-table-container {
    width: 100vw;
  }

  .graph-container {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .toggle-add-expense-btn {
    width: 110px;
    height: 4em;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .expenses-title {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .csv-button {
    width: 130px;
    border-radius: 5px;
    letter-spacing: 1px;
    height: 55px;
    font-size: 0.9em;
    margin-top: 2em;
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .expenses-container {
    margin-top: 5.2%;
    margin-bottom: 1em;
    padding-bottom: 2em;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .analytics-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 100%;
    font-size: 1em;
    padding-bottom: 2em;
  }

  .category-breakdown {
    width: 50%;
    font-size: 1.1em;
    line-height: 2.2em;
    margin-left: 8%;
  }

  .graph-table-container {
    width: 100vw;
    padding-bottom: 6em;
  }

  .edit-container {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .graph-table-container {
    width: 100vw;
  }

  .graph-container {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .toggle-add-expense-btn {
    width: 110px;
    height: 4em;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .expenses-title {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .csv-button {
    width: 135px;
    border-radius: 5px;
    letter-spacing: 1px;
    height: 55px;
    font-size: 0.9em;
    margin-top: 2em;
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1500px) {
  .expenses-container {
    margin-top: 4.5%;
    margin-bottom: 1em;
    padding-bottom: 2em;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .graph-table-container {
    width: 100vw;
    padding-bottom: 6em;
  }

  .edit-container {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .toggle-add-expense-btn {
    width: 110px;
    height: 4em;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .expenses-title {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .analytics-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 100%;
    font-size: 1em;
    padding-bottom: 2em;
  }

  .category-breakdown {
    width: 50%;
    font-size: 1.1em;
    line-height: 2em;
    margin-left: 8%;
  }
  .graph-container {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  .graph-table-container {
    padding-bottom: 6em;
  }

  .csv-button {
    width: 150px;
    border-radius: 5px;
    letter-spacing: 1px;
    height: 65px;
    font-size: 0.9em;
    margin-top: 2em;
    margin-bottom: 3em;
    letter-spacing: 1px;
  }
}

@media only screen and (min-width: 1500px) {
  .expenses-container {
    margin-top: 3.5%;
    margin-bottom: 1em;
    padding-bottom: 2em;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .category-breakdown {
    width: 45%;
    margin-top: 3em;
    font-size: 1em;
    line-height: 2em;
    margin-left: 10%;
  }

  .analytics-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 100%;
    font-size: 1em;
    padding-bottom: 2em;
  }

  .graph-container {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  .graph-table-container {
    padding-bottom: 6em;
  }

  .graph-table-container {
    width: 100vw;
    padding-bottom: 6em;
  }

  .edit-container {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .toggle-add-expense-btn {
    width: 170px;
    height: 4em;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .expenses-title {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .csv-button {
    width: 165px;
    border-radius: 5px;
    letter-spacing: 1px;
    height: 75px;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
    letter-spacing: 1px;
  }
}
