table {
  margin-top: 5em;
  width: 50%;
  font-size: 12px;
  border: 1px solid black;
  border-collapse: collapse;
}

.table-header {
  font-size: 1.4em;
}

th {
  padding: 0.6em;
  border: 1px solid black;
  background-color: grey;
}

td {
  padding: 0.6em;
  font-size: 1.4em;
  border: 1px solid black;
}

.expenses-container {
  margin-top: 5em;
  margin-bottom: 1em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expenses-title {
  text-align: center;
}

.toggle-add-expense-btn {
  display: inline-block;
  width: 9%;
  height: 3.2em;
  border-radius: 4px;
  font-size: 1.2em;
}

.toggle-add-expense-btn:hover {
  cursor: pointer;
  color: white;
}

.toggle-on {
  background-color: orange;
  color: black;
}

.toggle-off {
  background-color: rgb(0, 217, 255);
}

.edit-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.expense-edit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-edit-btn {
  background-color: green;
  color: white;
  display: inline-block;
  width: 9%;
  height: 3.2em;
  border-radius: 4px;
  font-size: 1em;
  margin: 1em;
}

.save-edit-btn:hover {
  color: black;
  cursor: pointer;
}

.toggle-edit-btn {
  background-color: purple;
  color: white;
  display: inline-block;
  width: 9%;
  height: 3.2em;
  border-radius: 4px;
  font-size: 1em;
  margin: 1em;
}

.toggle-edit-btn:hover {
  color: black;
  cursor: pointer;
}

.selector-container {
  margin: 1em;
  display: flex;
  flex-direction: row;
}
