.expenses-container {
  position: absolute;
  margin-top: 3.5%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: -2;
}

table {
  margin-top: 5em;
  width: 100%;
  font-size: 12px;
  border: 1px solid black;
  border-collapse: collapse;
}

.table-header {
  font-size: 1.4em;
}

th {
  padding: 0.6em;
  border: 1px solid black;
  background-color: grey;
}

td {
  padding: 0.6em;
  font-size: 1.4em;
  border: 1px solid black;
}

.expenses-title {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.toggle-add-expense-btn {
  display: inline-block;
  width: 9%;
  height: 3.2em;
  border-radius: 4px;
  font-size: 1.2em;
  border: none;
}

.toggle-add-expense-btn:hover {
  cursor: pointer;
  color: white;
}

.toggle-on {
  background-color: orange;
  color: black;
}

.toggle-off {
  background-color: rgb(0, 217, 255);
}

.edit-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.expense-edit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-edit-btn {
  color: white;
  display: inline-block;
  width: 9%;
  height: 3.2em;
  border-radius: 4px;
  font-size: 1em;
  margin: 1em;
}

.save-edit-btn:hover {
  color: black;
  cursor: pointer;
}

.toggle-edit-btn {
  color: white;
  display: inline-block;
  width: 9%;
  height: 3.2em;
  border-radius: 4px;
  font-size: 1em;
  margin: 1em;
}

.toggle-edit-btn:hover {
  color: black;
  cursor: pointer;
}

.selector-container {
  margin: 1em;
  display: flex;
  flex-direction: row;
}

.graph-table-container {
  width: 100vw;
}

.graph-container {
  width: 100%;
}

.analytics-container {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
}

.category-breakdown {
  padding-bottom: 2em;
}

.menu {
  width: 300px;
  height: 400px;
  background-color: #fafafa;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.1%;
  margin-right: 0.1%;
  /* border: 1px solid grey; */
  border-radius: 10px;
  z-index: 5;
}

.menu-list {
  width: 80%;
  padding: 0;
}
.menu-list:hover {
  cursor: pointer;
}

.menu-list-item {
  list-style-type: none;
  margin-left: 10%;
  margin-top: 1.3em;
  padding: 1em;
}

.menu-list-item:hover {
  background-color: grey;
}

.income-container {
  background-color: #f0f3f5;
  border-radius: 5px;
  width: 80%;
  height: 400px;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-income-form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.add-income-input {
  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: 0.7em;
  margin-bottom: 1em;
  width: 30%;
}

.update-income-btn {
  margin-top: 1em;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #00ed18;
  font-size: 1em;
}

.update-income-btn:hover {
  background-color: #02cc16;
}

.cancel-btn {
  margin-top: 1em;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: orange;
  font-size: 1em;
}

button:hover {
  color: white;
  cursor: pointer;
}

.csv-button {
  background-color: #22cef5;
  color: black;
  text-decoration: none;
  width: 150px;
  border-radius: 5px;
  letter-spacing: 1px;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.csv-button:hover {
  color: white;
  background-color: #1db0d1;
}

/* ------------------------------ MEDIA QUERIES ------------------------------- */
@media only screen and (max-width: 300px) {
  .expenses-container {
    margin-top: 2.6em;
    margin-bottom: 1em;
    padding-bottom: 2em;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .analytics-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 100%;
    font-size: 1em;
    padding-bottom: 2em;
  }

  .graph-table-container {
    width: 100vw;
  }

  .graph-container {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 2em;
  }
  .edit-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .graph-table-container {
    width: 100vw;
  }

  table {
    margin-top: 30px;
    width: 100%;
    font-size: 1px;
    border: 1px solid black;
    border-collapse: collapse;
  }

  tr {
  }
  .table-header {
    font-size: 1.4em;
  }

  th {
    border: 1px solid black;
    background-color: grey;
  }

  td {
    font-size: 1em;
    padding: 0;
    border: 1px solid black;
  }
  .toggle-add-expense-btn {
    width: 55px;
    height: 3.5em;
    font-size: 8px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .expenses-title {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  .category-breakdown {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 10%;
  }
  .menu {
    width: 40%;
    height: 280px;
    margin-top: 0.5%;
    margin-right: 0.5%;
    z-index: 5;
  }

  .menu-list {
    width: 80%;
    padding: 0;
  }

  .income-container {
    border-radius: 5px;
    width: 80%;
    height: 200px;
    margin-top: 1em;
  }

  .add-income-form {
    margin-top: 2em;
    width: 100%;
  }

  .add-income-input {
    border: none;
    border-radius: 5px;
    font-size: 1em;
    padding: 0.7em;
    margin-bottom: 2em;
    width: 70%;
  }

  .update-income-btn {
    margin-top: 1em;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-size: 1em;
  }

  .cancel-btn {
    margin-top: 1em;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-size: 1em;
  }
  .csv-button {
    width: 100px;
    border-radius: 5px;
    letter-spacing: 1px;
    height: 40px;
    font-size: 0.8em;
    margin-top: 2em;
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 300px) and (max-width: 450px) {
  .expenses-container {
    margin-top: 8.5%;
    margin-bottom: 1em;
    padding-bottom: 2em;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .analytics-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 100%;
    font-size: 1em;
    padding-bottom: 2em;
  }

  .graph-table-container {
    width: 100vw;
  }

  .graph-container {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 2em;
  }
  .edit-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .graph-table-container {
    width: 100vw;
  }

  table {
    margin-top: 30px;
    width: 100%;
    font-size: 1px;
    border: 1px solid black;
    border-collapse: collapse;
  }

  tr {
  }

  .table-header {
    font-size: 1.4em;
  }

  th {
    border: 1px solid black;
    background-color: grey;
  }

  td {
    font-size: 1em;
    padding: 0;
    border: 1px solid black;
  }
  .toggle-add-expense-btn {
    width: 95px;
    height: 4em;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .expenses-title {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .category-breakdown {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 25%;
  }

  .menu {
    width: 40%;
    height: 320px;
    margin-top: 0.5%;
    margin-right: 0.5%;
    z-index: 5;
  }

  .menu-list {
    width: 80%;
    padding: 0;
  }
  .income-container {
    border-radius: 5px;
    width: 80%;
    height: 200px;
    margin-top: 2em;
    padding-bottom: 2em;
  }

  .add-income-form {
    margin-top: 2em;
    width: 100%;
  }

  .add-income-input {
    border: none;
    border-radius: 5px;
    font-size: 1em;
    padding: 0.7em;
    margin-bottom: 2em;
    width: 70%;
  }

  .update-income-btn {
    margin-top: 1em;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 1em;
  }

  .cancel-btn {
    margin-top: 1em;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 1em;
  }

  .csv-button {
    width: 120px;
    border-radius: 5px;
    letter-spacing: 1px;
    height: 50px;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 450px) and (max-width: 650px) {
  .expenses-container {
    margin-top: 8.5%;
    margin-bottom: 1em;
    padding-bottom: 2em;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .analytics-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 100%;
    font-size: 1em;
    padding-bottom: 2em;
  }

  .graph-table-container {
    width: 100vw;
  }

  .graph-container {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 2em;
  }
  .edit-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .graph-table-container {
    width: 100vw;
  }

  table {
    margin-top: 30px;
    width: 80%;
    font-size: 8px;
    border: 1px solid black;
    border-collapse: collapse;
  }

  tr {
  }

  .table-header {
    font-size: 1.4em;
  }

  th {
    border: 1px solid black;
    background-color: grey;
  }

  td {
    font-size: 10px;
    padding: 0;
    border: 1px solid black;
  }
  .toggle-add-expense-btn {
    width: 95px;
    height: 4em;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .expenses-title {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .category-breakdown {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 30%;
  }
  .csv-button {
    width: 130px;
    border-radius: 5px;
    letter-spacing: 1px;
    height: 55px;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 650px) and (max-width: 800px) {
  .expenses-container {
    margin-top: 8.5%;
    margin-bottom: 1em;
    padding-bottom: 2em;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .analytics-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 100%;
    font-size: 1em;
    padding-bottom: 2em;
  }

  .graph-table-container {
    width: 100vw;
  }

  .graph-container {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 2em;
  }
  .edit-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .graph-table-container {
    width: 100vw;
  }

  table {
    margin-top: 30px;
    width: 80%;
    font-size: 8px;
    border: 1px solid black;
    border-collapse: collapse;
  }

  tr {
  }

  .table-header {
    font-size: 1.4em;
  }

  th {
    border: 1px solid black;
    background-color: grey;
  }

  td {
    font-size: 10px;
    padding: 0;
    border: 1px solid black;
  }
  .toggle-add-expense-btn {
    width: 110px;
    height: 4em;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .expenses-title {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .category-breakdown {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 30%;
  }
  .csv-button {
    width: 130px;
    border-radius: 5px;
    letter-spacing: 1px;
    height: 55px;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .expenses-container {
    margin-top: 8.5%;
    margin-bottom: 1em;
    padding-bottom: 2em;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .analytics-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 80%;
    font-size: 1em;
    padding-bottom: 2em;
  }

  .graph-table-container {
    width: 100vw;
    padding-bottom: 6em;
  }

  .edit-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .graph-table-container {
    width: 100vw;
  }

  .graph-container {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  table {
    margin-top: 5%;
    width: 80%;
    font-size: 12px;
    border: 1px solid black;
    border-collapse: collapse;
  }

  tr {
  }

  .table-header {
    font-size: 1.4em;
  }

  th {
    border: 1px solid black;
    background-color: grey;
  }

  td {
    font-size: 10px;
    padding: 0;
    border: 1px solid black;
  }
  .toggle-add-expense-btn {
    width: 110px;
    height: 4em;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .expenses-title {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .category-breakdown {
    width: 40%;
    padding-bottom: 2em;
    padding-right: 15%;
    margin-right: 1em;
  }
  .csv-button {
    width: 130px;
    border-radius: 5px;
    letter-spacing: 1px;
    height: 55px;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .expenses-container {
    margin-top: 8.5%;
    margin-bottom: 1em;
    padding-bottom: 2em;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .analytics-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 80%;
    font-size: 1em;
    padding-bottom: 2em;
  }

  .graph-table-container {
    width: 100vw;
    padding-bottom: 6em;
  }

  .edit-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .graph-table-container {
    width: 100vw;
  }

  .graph-container {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  table {
    margin-top: 5%;
    width: 80%;
    font-size: 12px;
    border: 1px solid black;
    border-collapse: collapse;
  }

  tr {
  }

  .table-header {
    font-size: 1.4em;
  }

  th {
    border: 1px solid black;
    background-color: grey;
  }

  td {
    font-size: 10px;
    padding: 0;
    border: 1px solid black;
  }
  .toggle-add-expense-btn {
    width: 110px;
    height: 4em;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .expenses-title {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .category-breakdown {
    width: 40%;
    padding-bottom: 2em;
    padding-right: 8%;
    padding-left: 10%;
    font-size: 1em;
    line-height: 2em;
  }

  .csv-button {
    width: 130px;
    border-radius: 5px;
    letter-spacing: 1px;
    height: 55px;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1500px) {
  .expenses-container {
    margin-top: 8.5%;
    margin-bottom: 1em;
    padding-bottom: 2em;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .graph-table-container {
    width: 100vw;
    padding-bottom: 6em;
  }

  .edit-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  tr {
  }

  .table-header {
    font-size: 1.4em;
  }

  th {
    border: 1px solid black;
    background-color: grey;
  }

  td {
    font-size: 10px;
    padding: 0;
    border: 1px solid black;
  }
  .toggle-add-expense-btn {
    width: 110px;
    height: 4em;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .expenses-title {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .category-breakdown {
    width: 40%;
    padding-bottom: 2em;
    padding-right: 15%;
    margin-right: 1em;
    padding-left: 10%;
    font-size: 1em;
    line-height: 2em;
  }

  table {
    margin-top: 5%;
    width: 80%;
    font-size: 12px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  .graph-container {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  .graph-table-container {
    padding-bottom: 6em;
  }

  .analytics-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 80%;
    font-size: 1em;
    padding-bottom: 2em;
  }
  .csv-button {
    width: 130px;
    border-radius: 5px;
    letter-spacing: 1px;
    height: 55px;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
    letter-spacing: 1px;
  }
}

@media only screen and (min-width: 1500px) {
  .expenses-container {
    margin-top: 8.5%;
    margin-bottom: 1em;
    padding-bottom: 2em;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .category-breakdown {
    width: 40%;
    padding-bottom: 2em;
    padding-right: 15%;
    margin-top: 3em;
    margin-right: 1em;
    padding-left: 10%;
    font-size: 1em;
    line-height: 2em;
  }

  table {
    margin-top: 5%;
    width: 80%;
    font-size: 12px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  .graph-container {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  .graph-table-container {
    padding-bottom: 6em;
  }

  .analytics-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 80%;
    font-size: 1em;
    padding-bottom: 2em;
  }

  .graph-table-container {
    width: 100vw;
    padding-bottom: 6em;
  }

  .edit-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  tr {
  }

  .table-header {
    font-size: 1.4em;
  }

  th {
    border: 1px solid black;
    background-color: grey;
  }

  td {
    font-size: 10px;
    padding: 0;
    border: 1px solid black;
  }
  .toggle-add-expense-btn {
    width: 110px;
    height: 4em;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .expenses-title {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .csv-button {
    width: 130px;
    border-radius: 5px;
    letter-spacing: 1px;
    height: 55px;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
    letter-spacing: 1px;
  }
}
