.Upload {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  width: 65%;
  padding: 2em;
}

.Content {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  box-sizing: border-box;
  width: 100%;
}

.Files {
  margin-left: 32px;
  align-items: flex-start;
  justify-items: flex-start;
  flex: 1;
  overflow-y: auto;
}

.Actions {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 32px;
}

.Title {
  margin-bottom: 32px;
  color: #555;
  font-size: 25px;
}

.Filename {
  margin-bottom: 8px;
  font-size: 16px;
  color: #555;
}

.Row {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  /* height: 50px; */
  padding: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.CheckIcon {
  opacity: 0.5;
  margin-left: 32px;
}

.ProgressWrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.upload-btn {
  background-color: #1be1f7;
  width: 130px;
  height: 55px;
  font-size: 16px;
}

.upload-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.clear-btn {
  background-color: red;
  width: 130px;
  height: 55px;
  font-size: 16px;
}

.import-instructions {
  margin-right: 5%;
  line-height: 1.8em;
  letter-spacing: 1px;
}

.import-title {
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.import-list-item {
  line-height: 2.5em;
  list-style-type: circle;
  font-size: 14px;
}

/* ------------------------------ MEDIA QUERIES ------------------------------- */
@media only screen and (max-width: 300px) {
  .upload-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1em;
  }

  .import-list-item {
    line-height: 2.5em;
    list-style-type: circle;
    font-size: 10px;
  }

  .Upload {
    margin-top: 3em;
  }
}

@media only screen and (min-width: 300px) and (max-width: 450px) {
  .upload-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1em;
  }

  .Upload {
    margin-top: 3em;
  }

  .import-list-item {
    line-height: 2.5em;
    list-style-type: circle;
    font-size: 11px;
  }
  .Actions {
    flex: 1;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
  }
}

@media only screen and (min-width: 450px) and (max-width: 650px) {
  .upload-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.2em;
  }
  .import-list-item {
    line-height: 2.5em;
    list-style-type: circle;
    font-size: 12px;
  }
  .Actions {
    flex: 1;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
  }
  .Upload {
    margin-top: 3em;
  }
}

@media only screen and (min-width: 650px) and (max-width: 800px) {
  .upload-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
  }
  .import-list-item {
    line-height: 2.5em;
    list-style-type: circle;
    font-size: 13px;
  }
  .Actions {
    flex: 1;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
  }
  .Upload {
    margin-top: 3em;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .upload-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
  }
  .import-list-item {
    line-height: 2.5em;
    list-style-type: circle;
    font-size: 13px;
  }
  .Actions {
    flex: 1;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
  }
  .Upload {
    margin-top: 3em;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .upload-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
  }
  .import-list-item {
    line-height: 2.5em;
    list-style-type: circle;
    font-size: 13px;
  }
  .Actions {
    flex: 1;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
  }
  .Upload {
    margin-top: 3em;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1500px) {
  .upload-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
  }
  .import-list-item {
    line-height: 2.5em;
    list-style-type: circle;
    font-size: 15px;
  }
  .Actions {
    flex: 1;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
  }
  .Upload {
    margin-top: 3em;
  }
}

@media only screen and (min-width: 1500px) {
  .upload-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
  }
  .import-list-item {
    line-height: 3.1em;
    list-style-type: circle;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .Actions {
    flex: 1;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
  }
  .Upload {
    margin-top: 3em;
  }
}
